
@{ ViewBag.Title = "Home Page"; }


<br />
<br />
    <center>
        <div class="row">

            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="Add User" onclick="location.href='@Url.Action("Create", "Members")'" />
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="View All Users" onclick="location.href='@Url.Action("Index", "Members")'" />
            </div>

            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="Add Book" onclick="location.href='@Url.Action("Create", "Books")'" />
            </div>

            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="View All Books" onclick="location.href='@Url.Action("Index", "Books")'" />
            </div>


        </div>
    </center>







